In [28]:
import pandas as pd
# pd is a alias name of pandas
import numpy as np
# np is a alias name of numpy
import matplotlib.pyplot as plt
# plt is a alias name of matplotlib
import seaborn as sns
# sns is a alias name of seaborn

import warnings
warnings.filterwarnings("ignore")

In [29]:
# Load the dataset
df=pd.read_csv('global economy indicator new.csv')
df.head()

,Country,Year,IMF based exchange rate,Population,Currency,Per capita GNI,Exports of goods and services,Final consumption expenditure,Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
0,Afghanistan,1970,0.045USD,107.5M,Afghani,$0.2K,$1.66M,$1.66B,$1.77B,$1.73B
1,Afghanistan,1971,0.045USD,110.2M,Afghani,$0.2K,$1.94M,$1.80B,$1.85B,$1.81B
2,Afghanistan,1972,0.045USD,112.9M,Afghani,$0.1K,$2.28M,$1.61B,$1.68B,$1.65B
3,Afghanistan,1973,0.045USD,115.8M,Afghani,$0.2K,$2.27M,$1.62B,$1.74B,$1.70B
4,Afghanistan,1974,0.045USD,118.7M,Afghani,$0.2K,$2.85M,$1.91B,$2.11B,$2.06B

In [30]:
df.tail()

,Country,Year,IMF based exchange rate,Population,Currency,Per capita GNI,Exports of goods and services,Final consumption expenditure,Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
10507,Zambia,2017,9.520USD,17.3M,Kwacha,$1.4K,$905.20M,$15.70B,$25.06B,$25.87B
10508,Zambia,2018,10.458USD,17.8M,Kwacha,$1.5K,$998.74M,$15.18B,$25.88B,$26.31B
10509,Zambia,2019,12.889USD,18.4M,Kwacha,$1.2K,$807.36M,$13.97B,$22.91B,$23.31B
10510,Zambia,2020,18.344USD,18.9M,Kwacha,$0.9K,$847.40M,$9.63B,$17.56B,$18.11B
10511,Zambia,2021,20.018USD,19.5M,Kwacha,$1.1K,$1150.13M,$11.44B,$20.68B,$21.31B

In [9]:
# check the shape of dataset
df.shape

(10512, 10)

##### Number of Rows= 10512
##### Number of Columns= 10

In [10]:
# fetch the columns name
df.columns

Index([' Country ', ' Year ', ' IMF based exchange rate ', ' Population ',
       ' Currency ', '  Per capita GNI  ', '  Exports of goods and services  ',
       '  Final consumption expenditure  ',
       ' Gross National Income(GNI) in USD ',
       '  Gross Domestic Product (GDP)  '],
      dtype='object')

In [11]:
# Handling Null value
df.isnull().sum()

 Country                                0
 Year                                   0
 IMF based exchange rate                0
 Population                             0
 Currency                               0
  Per capita GNI                        0
  Exports of goods and services        21
  Final consumption expenditure         0
 Gross National Income(GNI) in USD      0
  Gross Domestic Product (GDP)          0
dtype: int64

In [12]:
df.dropna()

,Country,Year,IMF based exchange rate,Population,Currency,Per capita GNI,Exports of goods and services,Final consumption expenditure,Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
0,Afghanistan,1970,0.045USD,107.5M,Afghani,$0.2K,$1.66M,$1.66B,$1.77B,$1.73B
1,Afghanistan,1971,0.045USD,110.2M,Afghani,$0.2K,$1.94M,$1.80B,$1.85B,$1.81B
2,Afghanistan,1972,0.045USD,112.9M,Afghani,$0.1K,$2.28M,$1.61B,$1.68B,$1.65B
3,Afghanistan,1973,0.045USD,115.8M,Afghani,$0.2K,$2.27M,$1.62B,$1.74B,$1.70B
4,Afghanistan,1974,0.045USD,118.7M,Afghani,$0.2K,$2.85M,$1.91B,$2.11B,$2.06B
...,...,...,...,...,...,...,...,...,...,...
10507,Zambia,2017,9.520USD,17.3M,Kwacha,$1.4K,$905.20M,$15.70B,$25.06B,$25.87B
10508,Zambia,2018,10.458USD,17.8M,Kwacha,$1.5K,$998.74M,$15.18B,$25.88B,$26.31B
10509,Zambia,2019,12.889USD,18.4M,Kwacha,$1.2K,$807.36M,$13.97B,$22.91B,$23.31B
10510,Zambia,2020,18.344USD,18.9M,Kwacha,$0.9K,$847.40M,$9.63B,$17.56B,$18.11B
10511,Zambia,2021,20.018USD,19.5M,Kwacha,$1.1K,$1150.13M,$11.44B,$20.68B,$21.31B

In [17]:
# fetch the concise summary of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10512 entries, 0 to 10511
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0    Country                             10512 non-null  object
 1    Year                                10512 non-null  int64
 2    IMF based exchange rate             10512 non-null  object
 3    Population                          10512 non-null  object
 4    Currency                            10512 non-null  object
 5     Per capita GNI                     10512 non-null  object
 6     Exports of goods and services      10491 non-null  object
 7     Final consumption expenditure      10512 non-null  object
 8    Gross National Income(GNI) in USD   10512 non-null  object
 9     Gross Domestic Product (GDP)       10512 non-null  object
dtypes: int64(1), object(9)
memory usage: 821.4+ KB

In [23]:
# check the data type of all the features
df.dtypes

 Country                               object
 Year                                   int64
 IMF based exchange rate               object
 Population                            object
 Currency                              object
  Per capita GNI                       object
  Exports of goods and services        object
  Final consumption expenditure        object
 Gross National Income(GNI) in USD     object
  Gross Domestic Product (GDP)         object
dtype: object

In [32]:
# Fetch the Row value of ['country']
df[' Country '].nunique()

220

In [33]:
df[' Country '].unique()

array([' Afghanistan ', ' Albania ', ' Algeria ', ' Andorra ', ' Angola ',
       ' Antigua and Barbuda ', ' Azerbaijan ', ' Argentina ',
       ' Australia ', ' Austria ', ' Bahamas ', ' Bahrain ',
       ' Bangladesh ', ' Armenia ', ' Barbados ', ' Belgium ',
       ' Bermuda ', ' Bhutan ', ' Bolivia (Plurinational State of) ',
       ' Bosnia and Herzegovina ', ' Botswana ', ' Brazil ', ' Belize ',
       ' Solomon Islands ', ' British Virgin Islands ',
       ' Brunei Darussalam ', ' Bulgaria ', ' Myanmar ', ' Burundi ',
       ' Belarus ', ' Cambodia ', ' Cameroon ', ' Canada ',
       ' Cabo Verde ', ' Cayman Islands ', ' Central African Republic ',
       ' Sri Lanka ', ' Chad ', ' Chile ', ' China ', ' Colombia ',
       ' Comoros ', ' Congo ', ' D.R. of the Congo ', ' Cook Islands ',
       ' Costa Rica ', ' Croatia ', ' Cuba ', ' Cyprus ',
       ' Czechoslovakia (Former) ', ' Czechia ', ' Benin ', ' Denmark ',
       ' Dominica ', ' Dominican Republic ', ' Ecuador ', ' El Salvador ',
       ' Equatorial Guinea ', ' Ethiopia (Former) ', ' Ethiopia ',
       ' Eritrea ', ' Estonia ', ' Fiji ', ' Finland ', ' France ',
       ' French Polynesia ', ' Djibouti ', ' Gabon ', ' Georgia ',
       ' Gambia ', ' State of Palestine ', ' Germany ', ' Ghana ',
       ' Kiribati ', ' Greece ', ' Greenland ', ' Grenada ',
       ' Guatemala ', ' Guinea ', ' Guyana ', ' Haiti ', ' Honduras ',
       ' China, Hong Kong SAR ', ' Hungary ', ' Iceland ', ' India ',
       ' Indonesia ', ' Iran (Islamic Republic of) ', ' Iraq ',
       ' Ireland ', ' Israel ', ' Italy ', " Côte d'Ivoire ", ' Jamaica ',
       ' Japan ', ' Kazakhstan ', ' Jordan ', ' Kenya ',
       ' D.P.R. of Korea ', ' Republic of Korea ', ' Kosovo ', ' Kuwait ',
       ' Kyrgyzstan ', " Lao People's DR ", ' Lebanon ', ' Lesotho ',
       ' Latvia ', ' Liberia ', ' Libya ', ' Liechtenstein ',
       ' Lithuania ', ' Luxembourg ', ' China, Macao SAR ',
       ' Madagascar ', ' Malawi ', ' Malaysia ', ' Maldives ', ' Mali ',
       ' Malta ', ' Mauritania ', ' Mauritius ', ' Mexico ', ' Monaco ',
       ' Mongolia ', ' Republic of Moldova ', ' Montenegro ',
       ' Montserrat ', ' Morocco ', ' Mozambique ', ' Oman ', ' Namibia ',
       ' Nauru ', ' Nepal ', ' Netherlands ',
       ' Former Netherlands Antilles ', ' Curaçao ', ' Aruba ',
       ' Sint Maarten (Dutch part) ', ' New Caledonia ', ' Vanuatu ',
       ' New Zealand ', ' Nicaragua ', ' Niger ', ' Nigeria ', ' Norway ',
       ' Micronesia (FS of) ', ' Marshall Islands ', ' Palau ',
       ' Pakistan ', ' Panama ', ' Papua New Guinea ', ' Paraguay ',
       ' Peru ', ' Philippines ', ' Poland ', ' Portugal ',
       ' Guinea-Bissau ', ' Timor-Leste ', ' Puerto Rico ', ' Qatar ',
       ' Romania ', ' Russian Federation ', ' Rwanda ',
       ' Saint Kitts and Nevis ', ' Anguilla ', ' Saint Lucia ',
       ' St. Vincent and the Grenadines ', ' San Marino ',
       ' Sao Tome and Principe ', ' Saudi Arabia ', ' Senegal ',
       ' Serbia ', ' Seychelles ', ' Sierra Leone ', ' Singapore ',
       ' Slovakia ', ' Viet Nam ', ' Slovenia ', ' Somalia ',
       ' South Africa ', ' Zimbabwe ', ' Yemen Democratic (Former) ',
       ' Spain ', ' South Sudan ', ' Sudan ', ' Sudan (Former) ',
       ' Suriname ', ' Eswatini ', ' Sweden ', ' Switzerland ',
       ' Syrian Arab Republic ', ' Tajikistan ', ' Thailand ', ' Togo ',
       ' Tonga ', ' Trinidad and Tobago ', ' United Arab Emirates ',
       ' Tunisia ', ' Türkiye ', ' Turkmenistan ',
       ' Turks and Caicos Islands ', ' Tuvalu ', ' Uganda ', ' Ukraine ',
       ' North Macedonia ', ' USSR (Former) ', ' Egypt ',
       ' United Kingdom ', ' U.R. of Tanzania: Mainland ', ' Zanzibar ',
       ' United States ', ' Burkina Faso ', ' Uruguay ', ' Uzbekistan ',
       ' Venezuela (Bolivarian Republic of) ', ' Samoa ',
       ' Yemen Arab Republic (Former) ', ' Yemen ',
       ' Yugoslavia (Former) ', ' Zambia '], dtype=object)

In [45]:
# Strip any leading or trailing spaces from the column 
columns=[' Year ', ' IMF based exchange rate ', ' Population ',
       ' Currency ', '  Per capita GNI  ', '  Exports of goods and services  ',
       '  Final consumption expenditure  ',
       ' Gross National Income(GNI) in USD ',
       '  Gross Domestic Product (GDP)  ']

In [42]:
df.columns = df.columns.str.strip()
print("Columns after stripping spaces:", df.columns.tolist())

Columns after stripping spaces: ['Country', 'Year', 'IMF based exchange rate', 'Population', 'Currency', 'Per capita GNI', 'Exports of goods and services', 'Final consumption expenditure', 'Gross National Income(GNI) in USD', 'Gross Domestic Product (GDP)']

In [60]:
# fetch the maximum gdp of country w.r.t to financial year
df_max_gdp = df.groupby('Country')[['Gross Domestic Product (GDP)','Year']].max().reset_index()
df_max_gdp.sort_values(by='Gross Domestic Product (GDP)', ascending=False).head(10)

             Country Gross Domestic Product (GDP)  Year
202   USSR (Former)                       $95.68B  1990
178    South Africa                      $99.98B   2021
95          Ireland                      $99.96B   2021
61          Ecuador                      $99.94B   2021
92        Indonesia                      $99.87B   2021
40            China                      $99.80B   2021
174        Slovakia                      $99.79B   2021
154        Portugal                      $99.69B   2021
7         Argentina                      $99.52B   2021
68         Ethiopia                      $99.27B   2021

In [62]:
# fetch the maximum GNI of country w.r.t to financial year
df_max_gdp = df.groupby('Country')[['Gross National Income(GNI) in USD','Year']].max().reset_index()
df_max_gdp.sort_values(by='Gross National Income(GNI) in USD', ascending=False).head(10)

,Country,Gross National Income(GNI) in USD,Year
137,Netherlands,$990.00B,2021
154,Portugal,$99.98B,2021
144,Norway,$99.91B,2021
40,China,$99.80B,2021
142,Nigeria,$99.78B,2021
191,Thailand,$99.73B,2021
211,Venezuela (Bolivarian Republic of),$99.48B,2021
152,Philippines,$99.09B,2021
157,Republic of Korea,$99.07B,2021
92,Indonesia,$983.00B,2021

In [68]:
# per capita gross national income of each country
df_currency=df.groupby('Country')[['Currency','Per capita GNI']].max().reset_index()
df_currency.sort_values(by='Per capita GNI',ascending=False).head(10)

             Country            Currency Per capita GNI
202   USSR (Former)               Ruble           $0.6K
21          Bermuda    Bermudian Dollar         $99.6K
127          Monaco                Euro         $97.3K
113   Liechtenstein         Swiss Franc         $96.9K
144          Norway     Norwegian Krone         $96.5K
115      Luxembourg                Euro         $93.9K
156           Qatar         Qatari Rial         $92.5K
188     Switzerland         Swiss Franc         $91.0K
39            Chile        Chilean Peso          $9.9K
121           Malta                Euro          $9.9K

In [70]:
# Countries with maximum population in Fy-2021
df_max_population=df.groupby('Country')[['Population','Year']].max().reset_index()
df_max_population.sort_values(by='Population',ascending=False).head(10)

           Country Population  Year
40          China     9972.6M  2021
62          Egypt      997.8M  2021
68       Ethiopia      997.5M  2021
152   Philippines      997.0M  2021
125        Mexico      993.9M  2021
154      Portugal       99.9M  2021
18        Belgium       99.9M  2021
89        Hungary       99.9M  2021
169        Serbia       99.8M  2021
49           Cuba       99.8M  2021